/* ----- */
/* ADMIN */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
:root {
    --delay: 0s;
}
* {
    outline: none;
    box-sizing: border-box;
}

.btn-simple.active {
    color: #ffffff;
    background-color: #0772db;
    border-color: #066ccf;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
}
.btn-simple {
    color: #1d8cf8;
    border-color: #1d8cf8;
    background: transparent;
    box-shadow: none;
    height: 40px;
}

.btn-simple span {
    position: relative;
    font-size: 12px;
}

.table-admin {
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
.camiseta-usuario {
    font-size: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */


.hidden {
    display: none !important;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.img-usuario {
    max-width: 100%;
}
.body-dashboard {
    font-family: "Inter", sans-serif;
    background-color: #252954;
    color: #9b9ca7;
}
.wrapper-dashboard {
   /*  max-width: 1600px; */
    background-color: #0e0e23;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}
.left-side {
    /* width: 6rem; */
    width: 2rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    padding: 117px 0 40px;
    animation: left 1s var(--delay) both;
}
.left-side svg {
    width: 24px;
    cursor: pointer;
}
.left-side svg + svg {
    margin-top: 34px;
}
.left-side svg:last-child {
    margin-top: auto;
}
.left-side svg.active, .left-side svg:hover {
    color: #4255d4;
}
@keyframes left {
    0% {
        transform: translateX(-30px);
        opacity: 0;
   }
    100% {
        opacity: 1;
        transform: none;
   }
}
@keyframes top {
    0% {
        transform: translateY(-30px);
        opacity: 0;
   }
    100% {
        opacity: 1;
        transform: none;
   }
}
.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 25px;
    overflow: auto;
    padding-left: 0;
}
.header-dashboard {
    background: #141834;
    background: radial-gradient(circle, rgba(20, 24, 52, 1) 0%, rgba(19, 22, 47, 1) 100%);
    box-shadow: 0 16px 12px #0e0e23;
    width: 100%;
    padding: 0 30px;
    animation: top 1s both;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-size: 15px;
    white-space: nowrap;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-dashboard:before {
    content: "";
    width: 100%;
    height: 25px;
    position: absolute;
    top: -25px;
    left: 0;
    background-color: #0e0e23;
}
.header-link {
    color: #9b9ca7;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}
.header-link svg {
    width: 20px;
    margin-right: 14px;
}
.header-link.active, .header-link:hover {
    background: #11132c;
    border-bottom: 3px solid #4255d4;
}
.logo-dashboard {
    padding: 20px 50px 20px 0;
    font-size: 16px;
    color: #e7e8ea;
}
.logo-det {
    background: #4255d4;
    padding: 8px;
    margin-left: -2px;
    border-radius: 50%;
    font-size: 15px;
}
.user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.user-info svg {
    width: 20px;
}
.user-info .profile {
    margin: 0 20px 0 12px;
    width: 18px;
}
.button {
    display: flex;
    align-items: center;
    color: #9b9ca7;
    background: #1a1b3c;
    border: none;
    padding: 2px 12px;
    border-radius: 4px;
    margin-right: 20px;
}
.button svg {
    margin-left: 10px;
    width: 16px;
}
.user-box {
    margin-top: 25px;
    display: flex;
}
.user-box + .user-box {
    margin-top: 20px;
}
.user-box + .user-box .cards-wrapper {
    margin-left: 0;
    flex-grow: 1;
    max-width: none;
}
.user-box + .user-box .today {
    margin-left: 30px;
}
.user-box + .user-box .cards-header {
    padding: 20px 30px;
    justify-content: space-between;
}
.user-box .cards-header, .user-box .cards-view {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-box .cards-header svg, .user-box .cards-view svg {
    width: 24px;
}
.user-box .cards-header .title, .user-box .cards-view .title {
    margin: 0 16px;
    font-size: 15px;
}
.user-box .cards-header-date svg, .user-box .cards-view-date svg {
    width: 30px;
}
.user-box .cards-header .cards-button, .user-box .cards-view .cards-button {
    background: #15193c;
    padding: 10px 16px;
    margin-right: 0;
}
.user-box .cards-header .cards-button svg, .user-box .cards-view .cards-button svg {
    width: 16px;
    margin: 0 2px 0 0;
}
.user-box .cards-header .date-wrapper, .user-box .cards-view .date-wrapper {
    display: flex;
    align-items: center;
    margin: auto;
}
.user-box .cards-header .date-wrapper .title, .user-box .cards-view .date-wrapper .title {
    margin: 0 16px;
}
.cards-view > svg {
    margin-right: 12px;
}
.today {
    position: relative;
}
.today:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ef415c;
    bottom: -8px;
    right: 50%;
    border-radius: 50%;
}
.card {
    background: #1a2049;
    background: radial-gradient(circle, rgba(26, 32, 73, 1) 0%, rgba(19, 22, 47, 1) 100%);
    padding: 15px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 430px;
    width: 100%;
}
.card .title {
    font-size: 16px;
    font-weight: 500;
}
.card .subtitle {
    font-size: 13px;
    line-height: 1.6em;
}
.card + .card {
    margin-left: 20px;
}
.activity {
    max-width: 60%;
}
.activity-user {
    max-width: 100%;
    max-height: 100%;
}
.activity .title {
    margin-bottom: 20px;
}
.activity-links {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-size: 15px;
}
.activity-link {
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.activity-link + .activity-link {
    margin-left: 25px;
}
.activity-link + .activity-link:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ef415c;
    top: -2px;
    right: -8px;
    border-radius: 50%;
}
.activity-link + .activity-link:hover:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background: #4255d4;
    left: 0;
    bottom: 0;
}
.activity-link + .activity-link:hover {
    color: #bebec4;
    -webkit-text-stroke: 0.3px;
}
.activity-link.active {
    color: #bebec4;
    font-weight: 500;
}
.activity-link.active:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background: #4255d4;
    left: 0;
    bottom: 0;
}
.destination {
    display: flex;
    align-items: center;
    margin-top: auto;
}
.destination-card {
    background: #1a1d3a;
    background: linear-gradient(45deg, rgba(26, 29, 58, 1) 0%, rgba(33, 39, 82, 1) 100%);
    padding: 20px;
    width: 100%;
    border-radius: 6px;
}
.destination-card + .destination-card {
    margin-left: 20px;
    background: #1a1d3a;
    background: linear-gradient(325deg, rgba(26, 29, 58, 1) 0%, rgba(33, 39, 82, 1) 100%);
}
.destination-profile {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.destination-profile svg {
    width: 18px;
    flex-shrink: 0;
    margin-right: 8px;
}
.destination-length {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.destination-points {
    margin-top: 30px;
}
.profile-img {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #bebec4;
    flex-shrink: 0;
}
.point {
    font-size: 14px;
    color: #bebec4;
    font-weight: 500;
}
.sub-point {
    font-size: 13px;
    margin-top: 4px;
}
.discount {
    max-width: 320px;
    width: 100%;
}
.discount .title {
    margin-bottom: 30px;
}
.discount .subtitle {
    margin-bottom: 8px;
}
.discount .subtitle-count {
    font-size: 17px;
    color: #17a98a;
    font-weight: 500;
}
.discount .subtitle-count + .subtitle {
    margin-top: 20px;
}
.discount .subtitle-count.dist {
    color: #e85471;
}
.discount-wrapper {
    display: flex;
}
.discount-chart {
    margin-left: auto;
}
.discount-profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.discount-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 16px 0 12px;
}
.discount-name {
    font-weight: 500;
    font-size: 15px;
}
.discount-type {
    font-size: 13px;
    margin-top: 4px;
}
.circle {
    width: 100px;
    height: 100px;
    border: 3px solid #5b5f78;
    border-radius: 50%;
    position: relative;
}
.pie {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.pie-camisetas {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.pie svg circle {
    fill: transparent;
    stroke: #4356d6;
    stroke-width: 14;
    stroke-dasharray: 259;/*  */
    stroke-dashoffset: 279;
    animation: barChart 3.8s linear forwards;
}

.pie-camisetas svg circle {
    fill: transparent;
    stroke: #4356d6;
    stroke-width: 14;
    stroke-dasharray: 259;/*  */
    stroke-dashoffset: 270;
    animation: barChart 3.8s linear forwards;
}

.pie-comics {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.pie-comics svg circle {
    fill: transparent;
    stroke: #4356d6;
    stroke-width: 14;
    stroke-dasharray: 259;/*  */
    stroke-dashoffset: 260;
    animation: barChart 3.8s linear forwards;
}
.pie-libros {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.pie-libros svg circle {
    fill: transparent;
    stroke: #4356d6;
    stroke-width: 14;
    stroke-dasharray: 259;/*  */
    stroke-dashoffset: 275;
    animation: barChart 3.8s linear forwards;
}
.pie-peliculas {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.pie-peliculas svg circle {
    fill: transparent;
    stroke: #4356d6;
    stroke-width: 14;
    stroke-dasharray: 259;/*  */
    stroke-dashoffset: 279;
    animation: barChart 3.8s linear forwards;
}
.pie-zapatillas {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.pie-zapatillas svg circle {
    fill: transparent;
    stroke: #4356d6;
    stroke-width: 14;
    stroke-dasharray: 259;/*  */
    stroke-dashoffset: 276;
    animation: barChart 3.8s linear forwards;
}

@media only screen and (min-width: 576px) {
    .col-sm-6 {
        width: 38%;
    }
}

@keyframes pieChart {
    100% {
        stroke-dashoffset: 0;
   }
}
.counter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3e50c5;
    font-weight: 500;
}
.offer-button {
    background: #4255d4;
    padding: 14px;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-right: 0;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}
.cards-header {
    background: #10122b;
    border-radius: 6px 6px 0 0;
    padding: 20px 45px;
    font-size: 14px;
    font-weight: 500;
}
.cards-header-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards-header-date svg {
    color: #4154d1;
    background: #14183c;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
}
.cards-wrapper {
    margin-left: 20px;
    max-width: 305px;
    width: 100%;
}
.cards-hour {
    font-size: 26px;
}
.cards-hour .am-pm {
    font-size: 15px;
    font-weight: 500;
}
.cards.card {
    border-radius: 0 0 6px 6px;
    padding: 30px 20px;
}
.cards.card svg {
    width: 24px;
    margin-left: auto;
    color: #818394;
}
.cards-head {
    display: flex;
    align-items: center;
}
.degree {
    margin-top: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #818394;
    font-weight: 500;
}
.degree svg {
    width: 24px;
    margin-right: 12px;
}
.items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    font-size: 13px;
    font-weight: 500;
}
.items.numbers {
    margin-top: 0;
}
.item {
    flex: 0 1 calc(100% / 7);
    padding: 10px 5px;
    text-align: center;
}
.item.is-active {
    background: #4255d4;
    border-radius: 50%;
    color: #fff;
}
.item.disable {
    color: #595b5b;
}
.account {
    width: 100%;
    height: 180px;
    margin-top: auto;
    flex-grow: 0;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s;
}
.account:hover {
    transform: scale(1.02);
}
.account:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    box-shadow: -15px 0 0 0 #ef8741;
    background: #ef415c;
    top: 20px;
    left: 42px;
    border-radius: 50%;
}
.account-wrapper {
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
}
.account-profile {
    margin: auto;
    position: relative;
    text-align: center;
    position: relative;
}
.account-profile img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    border: 3px solid #4255d3;
    padding: 5px;
}
.account-profile .blob {
    position: absolute;
    border-radius: 50%;
    animation: fly 5.8s linear infinite alternate;
}
.account-profile .blob:nth-child(1) {
    width: 14px;
    height: 14px;
    top: 25px;
    left: -20px;
    background: #28327a;
    animation-delay: 0.9s;
}
.account-profile .blob:nth-child(2) {
    width: 18px;
    height: 18px;
    background: #87344c;
    right: -20px;
    top: -20px;
    animation-delay: 0.2s;
}
.account-profile .blob:nth-child(3) {
    width: 12px;
    height: 12px;
    background: #13645b;
    right: -35px;
    top: 50%;
    animation-delay: 1.8s;
}
.account-name {
    margin: 20px 0 10px;
}
.account-title {
    font-size: 14px;
}
.account-cash {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 6px;
    padding-top: 16px;
    position: relative;
}
.account-cash:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #9b9ca7;
    right: 10px;
    border-radius: 50%;
    box-shadow: -10px 0 0 0 #9b9ca7, 10px 0 0 0 #9b9ca7;
    top: 24px;
}
.account-income {
    font-size: 14px;
}
.account-iban {
    margin-top: auto;
    font-weight: 500;
}
.time {
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #9e5924;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.time2 {
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
   /*  background-color: #9e5924; */
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.time.is-wait {
    background: #4255d3;

}
/* .time.admin-check {
    
} */

.background-admin {
    background-color: #9e5924;
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
   /*  background-color: #9e5924; */
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.background-user {
    background-color: #4255d3;
    height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
   /*  background-color: #9e5924; */
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.table .status {
    color: #1aa385;
    display: inline-flex;
    align-items: center;
}
.table .status svg {
    margin-right: 6px;
    width: 22px;
    height: 22px;
    padding: 3px;
    border-radius: 4px;
    background-color: #142940;
    color: currentColor;
}
.table .status.is-red {
    color: #d14b69;
}
.table .status.is-red svg {
    background: #2e2142;
    color: currentcolor;
}
.table .status.is-wait {
    color: #3e4ec2;
    position: relative;
}
.table .status.is-wait:before {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: #1a214d;
    border-radius: 4px;
}
.table .status.is-wait svg {
    background-color: transparent;
    color: currentcolor;
    animation: turn 2s linear infinite both;
}
@keyframes turn {
    100% {
        transform: rotate(1turn);
   }
}
.table {
    text-align: left;
    padding: 0;
}
.table th {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 16px;
}
.table th:nth-child(n+5) {
    padding: 0 10px 16px;
}
.table th:first-child {
    padding-left: 36px;
}
.table td {
    font-size: 15px;
    vertical-align: middle;
    padding: 8px 0;
    text-align: center;
}
.table th {
    font-size: 15px;
    vertical-align: middle;
    padding: 8px 0;
    text-align: center;
}
.table .td-titulo {
    font-size: 15px;
    vertical-align: middle;
    padding: 8px 0;
    text-align: left;
}

.table td:last-of-type {
    width: 100px;
}
.table td:nth-child(n+5) {
    padding: 0 10px;
}
.table td:nth-last-of-type(2) svg {
    width: 16px;
}
.table input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #9b9ca7;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 16px;
    transition: 0.25s;
    background-size: 0;
    background-position: center;
}
.table input:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    background-color: #252954;
    background-size: 12px;
    background-repeat: no-repeat;
}
@keyframes fly {
    40% {
        transform: translate(-6px, -6px);
   }
    60% {
        transform: translate(-12px, -2px);
   }
    100% {
        transform: translate(0px, 0px);
   }
}
.transection {
    flex-shrink: 0;
    max-width: 310px;
    width: 100%;
    margin-left: 20px;
}
.transection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
}
.transection .is-wait {
    color: #3e4ec2;
}
.credit-wrapper {
    margin-top: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.credit-wrapper svg {
    width: 38px;
    padding: 3px;
    border-radius: 6px;
    margin-right: 12px;
}
.credit-wrapper path {
    width: 24px;
}
.credit-money {
    margin-left: auto;
}
.credit-money.is-active {
    color: #1aa385;
}
.credit-money.is-cancel {
    color: #d14b69;
}
.credit-money .is-wait {
    color: #3e4ec2;
}
.credit-status {
    font-size: 13px;
    font-weight: normal;
}
.credit-type {
    color: #e7e8ea;
    margin-bottom: 6px;
}
@media screen and (max-width: 1500px) {
    .wrapper {
        max-width: 1200px;
   }
    .activity {
        width: 49%;
        max-width: none;
   }
    .discount {
        width: 48%;
        max-width: none;
        height: 100%;
   }
    .first-box {
        flex-wrap: wrap;
   }
    .first-box .cards-wrapper {
        width: 67%;
        max-width: none;
        margin: 20px 0;
   }
    .first-box .cards-wrapper .item.is-active {
        background: none;
        color: inherit;
   }
    .first-box .account-wrapper {
        max-width: none;
        width: calc(33% - 20px);
        margin: 20px 0 20px 20px;
   }
    .second-box {
        flex-wrap: wrap;
   }
    .second-box .cards-wrapper {
        margin-top: 40px;
        width: 66%;
   }
    .transection {
        margin-top: 40px;
        max-width: none;
        width: 30%;
   }
}
@media screen and (max-width: 1200px) {
    .time {
        display: none;
   }
}
@media screen and (max-width: 1060px) {
    .user-info .button, .user-info .hour {
        display: none;
   }
}
@media screen and (max-width: 1020px) {
    .user-box .cards-view {
        display: none;
   }
    .user-box .cards-header .cards-button {
        display: none;
   }
    .cards-header-date {
        margin: auto;
   }
}
@media screen and (max-width: 930px) {
    .second-box .cards-wrapper {
        width: 100%;
   }
    .transection {
        width: 100%;
        margin-left: 0;
        height: 100%;
        margin-top: 20px;
   }
    .header-link {
        display: none;
   }
    .user-info .profile {
        margin-right: 0;
   }
}
@media screen and (max-width: 850px) {
    .activity-card, .discount {
        width: 100%;
   }
    .user-box .discount {
        margin-left: 0;
        margin-top: 20px;
   }
    .left-side {
        display: none;
   }
    .main-container {
        padding-left: 25px;
   }
    .activity-links, .destination {
        margin-top: 20px;
   }
}
@media screen and (max-width: 720px) {
    .first-box .account-wrapper {
        display: none;
   }
    .first-box .cards-wrapper {
        width: 100%;
   }
    .second-box .cards.card {
        overflow-y: auto;
   }
}
@media screen and (max-width: 420px) {
    .destination-card + .destination-card {
        display: none;
   }
}
.user-box > * {
    animation: top 1s var(--delay) both;
}

.header-admin {
    color: grey;
    padding-right: 5px;
}

.header-admin-zapatilla {
    color: grey;
    padding-bottom: 6px;
    padding-right: 8px;
}

/* --------- */
/* FIN ADMIN */
/* --------- */

/* ---------- */
/* CARD-CHART */
/* ---------- */
.card-chart {
    overflow: hidden;
}
.card-chart .card-header .card-title i {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.card-chart .card-header .card-category {
    margin-bottom: 5px;
}
.card-chart .card-body {
    padding-left: 5px;
    padding-right: 5px;
}
.card-chart .card-body .tab-space {
    padding: 0;
}
.card-chart .table {
    margin-bottom: 0;
}
.card-chart .table td {
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.card-chart .card-progress {
    margin-top: 30px;
    padding: 0 10px;
}
.card-chart .chart-area {
    height: 220px;
    width: 100%;
}
.card-chart .card-footer {
    margin-top: 5px;
    padding: 5px;
}
.card-chart .card-footer .stats {
    color: gray;
}
.card-chart .dropdown {
    position: absolute;
    right: 20px;
    top: 20px;
}
.card-chart .dropdown .btn {
    margin: 0;
}
.card-chart.card-chart-pie .chart-area {
    padding: 10px 0 25px;
    height: auto;
}
.card-chart.card-chart-pie .card-title {
    margin-bottom: 10px;
}
.card-chart.card-chart-pie .card-title i {
    font-size: 1rem;
}

/* -------------- */
/* FIN CARD-CHART */
/* -------------- */

/* ------ */
/* PERFIL */
/* ------ */

  
  div, section, article, aside, ul, li h1, h2, h3, h4, h5, h6, p, span, b, label,  input, textarea, button{
    font-family: "Roboto";  
  }
  
  .pf-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  [class*="pf-w-"]{
    padding: 10px 10px 10px;
    box-sizing: border-box;
  }
  
  .pf-w-10{
    width: 10%;
  }
  
  .pf-w-20{
    width: 20%;
  }
  
  .pf-w-30{
    width: 30%;
  }
  
  .pf-w-40{
    width: 40%;
  }
  
  .pf-w-50{
    width: 50%;
  }
  
  .pf-w-60{
    width: 60%;
  }
  
  .pf-w-70{
    width: 70%;
  }
  
  .pf-w-80{
    width: 80%;
  }
  
  .pf-w-90{
    width: 90%;
  }
  
  .pf-w-100{
    width: 100%;
    margin-top: 20px;
  }
  
  .pf-sect-coverpage{
    position: relative;
  }
  
  .pf-cnt-img-full{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pf-cnt-img-full img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .pf-cnt-img-full .pf-layer-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .95) 10%, transparent);
  }
  
  .pf-cnt-img-full .pf-layer-gradient .pf-cnt-btn-upload{
    position: absolute;
    top: 30px;
    right: 25px;
  }
  
  .pf-layer-gradient .pf-cnt-btn-upload .pf-control-trick{
    padding: 10px 16px 10px;
    background: rgba(0,0,0,0.6);  
    font-size: 15px;
    font-weight: 400;  
    color: rgba(255,255,255,.5);
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .25s ease-in-out;
  }
  
  .pf-layer-gradient .pf-cnt-btn-upload .pf-control-trick i{
    margin-right: 6px;
    font-size: 20px;
    vertical-align: middle;
  }
  
  .pf-layer-gradient .pf-cnt-btn-upload .pf-control-hidden{
    display: none;
    width: 100%;
    height: 100%;
  }
  
  .pf-layer-gradient:hover > .pf-cnt-btn-upload .pf-control-trick{
    color: rgba(255,255,255,.9);
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, .5);
  }
  
  .pf-footer-coverpage{
    z-index: 1;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    padding: 0 40px 0;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    box-sizing: border-box;
    pointer-events: none;
  }
  
  .pf-footer-coverpage .pf-cnt-info-user{
    position: absolute;
    top: 0;
    left: 0;  
    padding-left: 240px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .pf-footer-coverpage .pf-cnt-info-user .pf-info-title{
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 10px #000000;
  }
  
  .pf-footer-coverpage .pf-cnt-info-user .pf-info-position{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, .8);  
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .pf-footer-coverpage .pf-profile-user{
    position: relative;
    width: 200px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  } 
  
  .pf-footer-coverpage .pf-profile-user .pf-cnt-img-avatar{
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    pointer-events: auto;
  }
  
  .pf-footer-coverpage .pf-profile-user .pf-cnt-img-avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .pf-footer-coverpage .pf-profile-user .pf-cnt-img-avatar .pf-cnt-btn-upload{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .pf-footer-coverpage .pf-profile-user .pf-cnt-img-avatar .pf-cnt-btn-upload .pf-control-trick{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent; 
    border-radius: 50%;
    transition: .25s all ease-in-out;  
  }
  
  .pf-footer-coverpage .pf-profile-user .pf-cnt-img-avatar .pf-cnt-btn-upload .pf-control-trick:hover{
  
    background: rgba(0,0,0,0.7);
    color: rgba(255, 255, 255, .9);
    font-size: 40px;
    cursor: pointer;
  }
  
  .pf-footer-coverpage .pf-profile-user .pf-cnt-img-avatar .pf-cnt-btn-upload .pf-control-hidden{
    display: none;
  }
  
  .pf-footer-coverpage .pf-navbar-menu-tab{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    
  } 
  
  .pf-tablist{
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;  
    box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.15); 
    pointer-events: auto;
    box-sizing: border-box;
  }
  
  .pf-tablist .pf-item-tab{
    list-style: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
  }
  
  .pf-tablist .pf-item-tab:first-child > .pf-btn-tab{
    border-radius: 50px 0px 0px 50px;
  }
  
  .pf-tablist .pf-item-tab:last-child > .pf-btn-tab{
    border-radius: 0 50px 50px 0;    
  }
  
  .pf-tablist .pf-item-tab .pf-btn-tab{
    position: relative;
    font-family: "Roboto";
    width: 100%;
    height: 100%;
    padding: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #fff;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;  
    transition: .25s all ease-in-out;
  }
  
  .pf-tablist .pf-item-tab .pf-btn-tab i{
    margin-right: 10px;
    font-size: 20px;
  }
  
  .pf-tablist .pf-item-tab .pf-btn-tab:hover{
    color: #000;
  }
  
  .pf-tablist .pf-item-tab .pf-btn-tab.pf-active{
    color: #2A6FFE;
  }
  
  .pf-tablist .pf-item-tab .pf-btn-tab::before{
    z-index: 1;
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6px;
    height: 6px;
    background: #2a6ffe;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: .0s;
  }
  
  .pf-tablist .pf-item-tab .pf-btn-tab.pf-active::before{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
    transition: .25s;  
  }
  
  .pf-tablist .pf-item-tab .pf-btn-tab::after{
    z-index: 1;
    content: '';
    position: absolute;
    bottom: -33px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #fff;  
    opacity: 0;
    pointer-events: none;
    transform: translateY(40px);
    transition: .0s;
  }
  
  .pf-tablist .pf-item-tab .pf-btn-tab.pf-active::after{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
    transition: .25s;  
  }
  
  .pf-sect-form-tabs{
    position: relative;
    width: 60%;  
    margin: 60px auto;  
    box-sizing: border-box;
    height: 64vh;
  }

  .pf-w-100 button{
    outline:none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #2646fc;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #3224ef;
    
  }
  .pf-w-100 button:hover{
    box-shadow: 0 4px #2427ef;
    top: 2px;
  }
  .pf-w-100 button:active{
    box-shadow: none;
    top: 6px;
  }

  .pf-lbl-title {
      color: rgb(40, 23, 138);
  }
  
  .pf-sect-form-tabs .pf-sect-tab{
   /*  position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    padding: 60px 30px 30px;
    background:  rgba(160, 160, 160, 0.644);
    border-radius: 20px;
    box-shadow: 0 3px 6px -2px rgba(0,0,0, .1);
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: 0s; 
  }
  
  .pf-sect-form-tabs .pf-sect-tab.pf-active{
    /* position: absolute; */
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
    transition: all .25s ease-in-out;
    background:  linear-gradient(to right, #4582f4, #49bfee);
  }
  
  .pf-sect-form-tabs .pf-sect-tab.pf-active:before{
  z-index: 0;
      content: '';
      position: absolute;
      top: 25%;
      left: 0;
      width: 4px;
      height: 50%;
      border-radius: 25px;
      background: #072869;  
  }
  
  .pf-sect-form-tabs .pf-sect-tab .pf-title-sect-tab{
    position: relative;
    padding: 0 10px 0;
    font-size: 25px;
    color: #222;
    font-weight: bold;
  }
  
  .pf-sect-form-tabs .pf-sect-tab .pf-cnt-form{
    margin-top: 30px;
    padding: 0;
  }
  
  .pf-sect-tab .pf-cnt-form .pf-form-group{
    position: relative;
    box-sizing: border-box;
  }
  
  .pf-sect-tab .pf-cnt-form .pf-form-group .pf-lbl-title{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .pf-sect-tab .pf-cnt-form .pf-form-group .pf-inp-control{
    width: 100%;  
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 13px;
    border: 1px solid rgba(0,0,0,.08);
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    transition: all .25s ease-in-out;  
  }
  
  .pf-sect-tab .pf-cnt-form .pf-form-group .pf-inp-control:disabled{
    background: #f5f5f5;
    color: #444;
    cursor: not-allowed;
    
  }
  
  .pf-sect-tab .pf-cnt-form .pf-form-group .pf-inp-control:focus{
    border-color: #2A6FFE;
  }
  
  .pf-sect-tab .pf-cnt-form .pf-form-group.pf-icon .pf-inp-control{
    padding-left: 40px; 
  }
  
  .pf-sect-tab .pf-cnt-form .pf-form-group.pf-icon  i{
    position: absolute;
    bottom: 15px;
    left: 13px;  
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
    transition: all .25s;    
  }
  
  .pf-sect-tab .pf-cnt-form .pf-form-group.pf-icon .pf-inp-control:focus ~ i{
    color: #2A6FFE;
  }
  
  @media only screen and (max-width: 991px){
    [class*="pf-w-"]{
      width: 100%;  
    }
    .pf-footer-coverpage .pf-cnt-info-user .pf-info-title{
      font-size: 25px;
    }  
    
    .pf-footer-coverpage .pf-cnt-info-user .pf-info-position{
      font-size: 14px;
    }    
    
    .pf-tablist .pf-item-tab .pf-btn-tab span{
      display: none;
    }  
  }
  
  
  @media only screen and (max-width: 767px){  
    .pf-cnt-img-full img{
      height: 200px;
    }
    
    .pf-cnt-img-full .pf-layer-gradient .pf-cnt-btn-upload{
      top: 15px;
      right: 12px;
    }
    
    .pf-layer-gradient .pf-cnt-btn-upload .pf-control-trick{
      padding: 6px 7px 6px;
      border-radius: 3px;
    } 
    
    .pf-layer-gradient .pf-cnt-btn-upload .pf-control-trick i{
      margin: 0;
    }
    
    .pf-layer-gradient .pf-cnt-btn-upload .pf-control-trick span{
      display: none;  
    }  
    
    .pf-footer-coverpage{
      flex-wrap: wrap;
      width: 90%;
      bottom: -160px;
    }   
    
    .pf-footer-coverpage .pf-cnt-info-user{
      text-align: center;
      top: -70px;
      left: 0 ;
      padding-left: 0 ;
    }  
  
    .pf-footer-coverpage .pf-cnt-info-user .pf-info-title{
      font-size: 22px;
    }  
    
    .pf-footer-coverpage .pf-cnt-info-user .pf-info-position{
      font-size: 13px;
    }    
    
    .pf-footer-coverpage .pf-profile-user{
      width: 100%;
      margin-bottom: 10px;
    }
    
    .pf-footer-coverpage .pf-profile-user .pf-cnt-img-avatar{
      margin: 0 auto;
      width: 180px;
      height: 180px;        
    }
    
    .pf-footer-coverpage .pf-profile-user .pf-cnt-img-avatar img{
      width: 180px;
      height: 180px;    
    }    
  
    .pf-sect-form-tabs {
      margin: 130px auto;
      width: 95%;
    }
  
    .pf-sect-form-tabs .pf-sect-tab{
      padding: 60px 20px 20px;
    }
    
    .pf-sect-form-tabs .pf-sect-tab .pf-title-sect-tab{
      text-align: center;
      font-size: 22px;
    }  
  }
  
  @media only screen and (max-width: 575px){
    .pf-footer-coverpage{
      bottom: -150px;  
    }
    
    .pf-footer-coverpage .pf-cnt-info-user{
      top: -60px;
    } 
    
 /*    .pf-tablist{
    } */
    
    .pf-tablist .pf-item-tab .pf-btn-tab{
      padding: 15px 10px 15px;
      font-size: 13px;
    }
    
    .pf-tablist .pf-item-tab .pf-btn-tab i{
      font-size: 15px;
      margin-right: 5px;
    }  
    
    .pf-sect-form-tabs{
      margin: 130px auto;
      
    }
  }  

/* ---------- */
/* FIN PERFIL */
/* ---------- */
