@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');
/* body{
font-family: 'Montserrat', sans-serif;
background: #E3E3D8;
font-family: sans-serif;
padding: 25px;
} */
.titu{
font-size: 30px;
font-family: 'Big Shoulders Display', cursive;
margin-top: 3px;
margin-bottom: 5px;
}
.centeri{ 
position: fixed;
top: 50%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
}
span{

position: relative;
}
.card {
transition: transform .7s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 10px;
margin: auto;
text-align: center;
font-family: arial;
background: white;
width: 300px;
height: 485px;
}
.card:hover{

transform: scale(1.04)
}

.button {
border-radius: 10px;
margin-bottom: 10px;
background-color: #ff2e2e;
border: none;
color: white;
text-align: center;
font-size: 28px;
padding: 20px;
width: 200px;
transition: all 1s;
cursor: pointer;
margin: 5px;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '+';
position: absolute;
opacity: 0;
top: 3px;
left: +20px;
transition: 0.5s;

}

.button:hover span {
padding-left: 25px;

}

.button:hover span:after {
opacity: 1;
left: 0;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}

.img-camisetas{
border-radius: 50px;
opacity:0.9;
transition: 0.5s;
}
.img-camisetas, #parent {
cursor: pointer;

}
.card:hover > img{
opacity:1;
}
.preco{
transition: 0.5s;
font-family: 'Montserrat', sans-serif;
float: right;
color: #cc0000;
font-size: 14px;
padding: 50px;
margin-right: 18px;
}

.preco img {
    width:100%
}
img:active{
border-radius: 100px;

transform: scale(1.64)

}
