/* @import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');
 * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}
 body {
	 font-family: 'Barlow', sans-serif;
	 font-size: 1.125rem;
	 line-height: 1.5;
	 color: #787878;
	 background: #fff;
	 text-rendering: optimizeLegibility;
}
 ul li {
	 margin: 0 1.5rem 0 0;
}
 a {
	 color: #787878;
	 text-decoration: none;
	 transition: all 0.2s ease;
}
 a:hover {
	 color: #2e2e2e;
}
 a.active {
	 color: #2e2e2e;
}
 nav {
	 padding: 2.5rem 0 2.5rem 0;
}
 nav ul {
	 display: flex;
	 justify-content: flex-start;
}
 nav li {
	 font-size: 1.25rem;
}
 nav li:nth-child(2) {
	 margin: 0;
}
 #highlight {
	 color: #ea8478;
	 font-size: 1.25rem;
}
 .gallery {
	 padding: 0 0 4rem 0;
}
 .img-container {
	 width: 100%;
	 height: 500px;
	 cursor: pointer;
	 overflow: hidden;
}
 .img-container:hover .img-content-hover {
	 display: block;
}
 img {
	 width: 100%;
	 height: 500px;
	 object-fit: cover;
	 transform: scale(1);
	 transition: all 0.3s ease-in-out;
}
 img:hover {
	 transform: scale(1.05);
}
 .img-content-hover {
	 z-index: 1;
	 position: absolute;
	 top: 0;
	 left: 0;
	 white-space: nowrap;
	 display: none;
	 padding: 1rem;
	 background: #fff;
	 font-weight: 400;
	 margin-top: 1.25rem;
	 margin-left: -2rem;
}
 .title {
	 color: #2e2e2e;
	 font-size: 1.5rem;
	 font-weight: 700;
}
 .category {
	 font-size: 1rem;
	 color: #787878;
}
 .img-content {
	 display: none;
}
 .social, .copyright {
	 margin: 1rem;
}
 .social li {
	 display: inline-block;
}
 footer {
	 padding: 1rem 0;
	 background: #f7f7f7;
	 text-align: center;
}
 @supports (display: grid) {
	 .gallery .grid {
		 grid-gap: 1rem;
	}
}
 @media (min-width: 700) {
	 nav ul {
		 justify-content: flex-end;
	}
}
 @media screen and (max-width: 1024px) {
	 img:hover {
		 transform: none;
	}
	 .img-container {
		 height: 100%;
	}
	 .img-container:hover .img-content-hover {
		 display: none;
	}
	 .img-content {
		 display: block;
		 padding: 1rem 0;
	}
}
 

  */