/* header */

.header-section {
	box-sizing: border-box;
	background-color: #00baf0;
	background: linear-gradient(to left, #4582f4, #49bfee);
	color: #fff;
	display: block;
	max-width: 100vw;
	padding: 20px 10px 2.5px 10px;
	margin: -10px auto;
  }
  
.header-section ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	font-size: 16px;
 }
  
.header-section li a {
	display: block;
	padding: 5px 5px;
	color: white;
	text-decoration: none;
}
  
.header-section .logo {
	display: block;
	float: left;
	font-size: 1.5em;
	text-decoration: none;
	margin-top: -12px;
	line-height: normal;
}
  
.header-section .logo-name {
	font-family: "Google Sans Regular";
	font-weight: bold;
	padding: 0 10px;
	letter-spacing: 3px;
	color: #4471d3;
}
  
/* menu */
  
/* .menu-header {
	font-family: "Google Sans Regular";
} */
  
.header-section .menu-header {
	/* margin-top: 10px; */
	justify-items: space-around;
	clear: both;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	list-style-type: none;
}

.header-section .menu-header .header-user {
	display: flex;
	justify-content: center;
}

/* menu icon */
  
.header-section .menu-header-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}
  
.header-section .menu-header-icon .navicon {
	background: white;
	display: block;
	height: 2px;
	position: relative;
	transition: background 0.2s ease-out;
	width: 18px;
}
  
.header-section .menu-header-icon .navicon:before,
.header-section .menu-header-icon .navicon:after {
	background: white;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	width: 100%;
}
  
.header-section .menu-header-icon .navicon:before {
	top: 5px;
}
  
.header-section .menu-header-icon .navicon:after {
	top: -5px;
}
  
/* menu btn */
  
.header-section .menu-header-btn {
	display: none;
}
  
.header-section .menu-header-btn:checked ~ .menu-header {
	max-height: 370px;
}
  
.header-section .menu-header-btn:checked ~ .menu-header-icon .navicon {
	background: transparent;
}
  
.header-section .menu-header-btn:checked ~ .menu-header-icon .navicon:before {
	transform: rotate(-45deg);
}
  
.header-section .menu-header-btn:checked ~ .menu-header-icon .navicon:after {
	transform: rotate(45deg);
}
  
.header-section .menu-header-btn:checked ~ .menu-header-icon:not(.steps) .navicon:before,
.header-section .menu-header-btn:checked ~ .menu-header-icon:not(.steps) .navicon:after {
	top: 0;
}
  
/* 48em = 768px */
  
@media (min-width: 932px) {
	.header-section li {
	  float: left;
	}

	/* .header-section .material-icons {
		float: none;
	} */
	.header-section {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
	.header-section .menu-header {
	  	max-height: none;
	}
	.header-section .menu-header-icon {
	  display: none;
	}
  }
  
  @media (max-width: 932px) {
	.header-section .logo {
	  display: block;
	  float: left;
	  font-size: 1.25em;
	  text-decoration: none;
	  margin-top: 15px;
	  line-height: normal;
	}
	
	.header-section {
	  padding-top: 10px;
	  text-align: center;
	}
  }
  @media (max-width: 960px) and (min-width: 768px) {
	.header-section {
	  font-size: 12px;
	}
  }