/* ---------------------- */
/* BOOTSTRAP CONTENEDORES */
/* ---------------------- */

.libros {
  padding: 0;
  margin: 0;
}

/* -------------------------- */
/* FIN BOOTSTRAP CONTENEDORES */
/* -------------------------- */


/* ------------------ */
/* SEPARACION BLOQUES */
/* ------------------ */
.librosCard {
  margin: 2%;
}
/* ---------------------- */
/* FIN SEPARACION BLOQUES */
/* ---------------------- */


/* -------------- */
/* TARJETA LIBROS */
/* -------------- */

.title {
  font-weight: bold;
  font-size: 2em;
}

.subtitle {
  font-size: 1.5em;
}

.description {
  margin-top: 24px;
  font-size: 1.2em;
}


.book-card {
width: 280px;
padding: 16px;
border-radius: 5px;
background-color: #fff;
box-shadow:
  0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
}
.book-card__cover {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 30px auto 8px auto;
  perspective: 1000px;
}

.book-card__book {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 250ms ease;
}

.book-card__book-front {
  position: absolute;
  height: 100%;
}
 
 .book-card__book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
 }

.book-card__book-side {
  position: absolute;
  top: 5px;
  bottom: 2px;
  right: -29px;
  width: 40px;
  background-size: 5px;
  background-color: #e1e1e1;
  background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
  opacity: 0;
  transform: rotate3d(0, 1, 0, 90deg);
}
 
.book-card__img {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
}

.book-card__title {
  font-size: 1em;
  margin-bottom: 8px;
}

.book-card__author {
  color: #757575;
  font-size: 0.75em;
}



.book-card:hover .book-card__book{
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
  }
  
.book-card:hover .book-card__book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
  }
  
.book-card:hover .book-card__book-side {
    opacity: 1;
  }

  .options{
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

/* ------ */
/* POP-UP */
/* ------ */



/* ---------- */
/* FIN POP-UP */
/* ---------- */

/* ------------------ */
/* FIN TARJETA LIBROS */
/* ------------------ */

/* ------- */
/* SPINNER */
/* ------- */

/* body {
  margin: 5em;
} */

.spinner-book {
  width: 100%;
  height: 100%;
}

.stack {
  margin: 10% 40%;
}

.book {
  animation: stack .3s linear forwards;
  background-color: #E8D8A8;
  border-color: #A0BD92;
  border-width: 5px;
  border-bottom-left-radius: 5px;
  border-left-width: 7px;
  border-top-left-radius: 5px;  
  border-right-color: white;
  border-style: solid;
  box-shadow: inset 5px 3px 10px -5px #444;
  height: 33px;
  position: relative;
  opacity: 0;
  width: 200px;
}
  .book:before, .book:after {
    border-bottom: 3px solid darken(#E8D8A8, 9%);
    border-top: 3px solid darken(#E8D8A8, 9%);
    content: "";
    height: 3px;
    left: 4px;
    position: absolute;
    top: 10px;
    width: 95%;
  }
  
  .book:after {
    bottom: 5px;
    top: auto;
  }


.book:nth-of-type(1) {
  animation-delay: 4s;
}

.book:nth-of-type(2) {
	animation-delay: 3s;
  border-color: #ffae3d;
  border-left-color: white;
  background-color: lighten(#E8D8A8, 3%);  
  box-shadow: inset -5px 3px 10px -5px #444;
  margin-left: 3em;
}
.book:nth-of-type(3) {
  animation-delay: 2s;
  background-color: #e2624f;
  border-color: #e2624f;
  box-shadow: none;
  border-radius: 4px;
  height: 18px;
  margin-left: 3em;
}
  
  .book:nth-of-type(3):before { position: static;  }
  .book:nth-of-type(3):after {
    position: static;
    border: none;
  }

.book:nth-of-type(4) {
  animation-delay: 1s;
  border-color: #455971;
  border-right-color: white;
  height: 22px;
  margin-left: -1em;
}

.book:nth-of-type(5) {
  animation-delay: 0s;
  margin-left: 2em;
  opacity: 1;
}


@keyframes stack {

  100% {
    	margin-left: 1em;
      opacity: 1;
    }
  
}

/* ----------- */
/* FIN SPINNER */
/* ----------- */

/* ---------- */
/* SLIDE MENU */
/* ---------- */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.sidebar {
  font-size: 14px; }

h3 {
  font-size: 10px; }



ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.sidebar {
  background-color: #354052;
  font-size: 0.75rem;
  width: 100%; }


.sidebar-menu {
  padding: 1.3rem; }

.sidebar-title {
  color: #55627A; }

.sidebar-title,
.sidebar-item {
  margin-bottom: 1rem; }

.sidebar-link button {
  color: #8893a6;
  outline: none;
  background: none;
  border: 0;
 }

.sidebar-link button:hover {
  color: white;
  text-decoration: underline; }

.sidebar-avatar-name {
  margin-right: 0.3rem; }

.sidebar-link-concept {
  margin-left: 0.35rem; }

.sidebar-link-concept {
  text-transform: uppercase; }



/* -------------- */
/* FIN SLIDE MENU */
/* -------------- */