@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  font-family: 'Poppins', sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: #f8dd30;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login .container-login {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login .container-login .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.login .container-login .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.login .container-login .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login .container-login .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

.login .container-login .user .formBx .opcion-registro h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.login .container-login .user .formBx .opcion-registro input {
  position: relative;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.login .container-login .user .formBx .opcion-registro .input-long {
  width: 100%;
}

.login .container-login .user .formBx .opcion-registro .input-short1 {
  width: 49%;
  margin-right: 2%;
}

.login .container-login .user .formBx .opcion-registro .input-short2 {
  width: 49%;
}

.login .container-login .user .formBx .opcion-registro input[type='submit'] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

.login .container-login .user .formBx .opcion-registro .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

.login .container-login .user .formBx .opcion-registro .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
  cursor: pointer;
}

.login .container-login .signupBx {
  pointer-events: none;
}

.login .container-login.active .signupBx {
  pointer-events: initial;
}

.login .container-login .signupBx .formBx {
  left: 100%;
}

.login .container-login.active .signupBx .formBx {
  left: 0;
}

.login .container-login .signupBx .imgBx {
  left: -100%;
}

.login .container-login.active .signupBx .imgBx {
  left: 0%;
}

.login .container-login .signinBx .formBx {
  left: 0%;
}

.login .container-login.active .signinBx .formBx {
  left: 100%;
}

.login .container-login .signinBx .imgBx {
  left: 0%;
}

.login .container-login.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  .login .container-login {
    max-width: 400px;
  }

  .login .container-login .imgBx {
    display: none;
  }

  .login .container-login .user .formBx {
    width: 100%;
  }
}
