@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*  body {
	 background: #313131;
} */
 @media (max-width: 768px) {
	 .container {
		 width: 250px !important;
		 height: 950px !important;
		 overflow: hidden;
	}
	 .container .about-movie {
		 display: inline-block !important;
	}
	 .container .about-movie p {
		 width: 49% !important;
		 padding-left: 15px;
		 padding-right: 15px;
  }
  .cover {
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 2;
    padding-left: 0px;
 }
}
 .cardMovie {
	 font: 14px/22px "Lato", Arial, sans-serif;
	 color: #a9a8a3;
	 padding: 40px 0;
}
 .cardMovie .container {
	 margin: 0 auto;
	 width: 1000px;
	 height: 750px;
	 background: #f0f0ed;
	 border-radius: 5px;
	 position: relative;
}
 .cardMovie .container a img {
	 max-width: 550px;
	 max-height: 250px;
}
 .cardMovie .container .back-cover {
	 height: 342px;
	 margin: 0;
	 position: relative;
	 overflow: hidden;
	 z-index: 1;
	 border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-repeat: no-repeat;
   background-size: cover;
   
}
/*  .cardMovie .container .back-cover:before {
	 content: " ";
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 top: 0;
   left: 0;
   background-color: red;
	 background: url("http://laughingsquid.com/wp-content/uploads/bbillo2.jpg");
	 z-index: -1;
	 background-repeat: no-repeat;
	 background-size: cover;
	 transform: skewY(-3.2deg);
	 transform-origin: 0 0;
} */
 .cardMovie .container .cover {
	 position: absolute;
	 top: 160px;
	 left: 40px;
   z-index: 2;
   padding-left: 25px;
}
 .cardMovie .container .cover:hover {
	 opacity: 0.9;
	 cursor: pointer;
}
 .cardMovie .container .details {
	 padding: 238px 0 0 268px;
}
 .cardMovie .container .details .title1 {
	 color: #eee;
	 font-size: 44px;
	 margin-bottom: 16px;
	 position: relative;
}
 .cardMovie .container .details .title1 span {
	 position: absolute;
	 top: 3px;
	 margin-left: 12px;
	 background: #c4af3d;
	 border-radius: 5px;
	 color: #544c21;
	 font-size: 14px;
	 padding: 0px 4px;
}
 .cardMovie .container .title2 {
	 color: white;
	 font-size: 15px;
	 font-weight: 600;
	 margin-bottom: 15px;
}
 .cardMovie .container .likes {
	 margin-left: 30px;
	 display: inline-block;
   padding-bottom: 19px;
   overflow: hidden;
}
 .cardMovie .container .likes:before {
	 content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
	 position: relative;
	 top: 2px;
   padding-right: 7px;
   overflow: hidden;
}
 .cardMovie .container .about-movie {
	 display: inline-flex;
	 bottom: 0px;
	 height: 200px;
	 font-size: 16px;
	 line-height: 26px;
	 color: #b1b0ac;
}
 .cardMovie .container .about-movie .colum-one {
	 padding-left: 50px;
	 padding-top: 90px;
	 width: 325px;
	 float: left;
	 text-align: left;
}
 .cardMovie .container .about-movie .colum-one .colum-catogary {
	 text-align: left;
   margin-left: -20px;
   display: flex;
}
 .cardMovie .container .about-movie .colum-one .colum-catogary span {
	 padding: 1px 8px;
	 font-size: 14px;
	 background: white;
	 border-radius: 10px;
	 margin-left: 2px;
}
 .cardMovie .container .about-movie .colum-one .colum-catogary span:hover {
	 background: #999;
	 color: white;
	 cursor: pointer;
}
 .cardMovie .container .about-movie .colum-second {
	 padding-left: 38px;
	 padding-top: 21px;
	 margin-left: -39px;
	 width: 480px;
	 float: left;
}
 .cardMovie .container .about-movie .colum-second p {
	 width: 76%;
}
 .cardMovie .container .about-movie .colum-second p a {
	 text-decoration: none;
	 color: #6e6ed8;
}
/*start rate system style */
 fieldset {
	 border-color: #fff;
	 border-style: none;
}
 .starRating {
	 margin-left: -22px;
}
 .starRating > * {
	 float: left;
}
/* some animtion do when load window */
 @-webkit-keyframes pulse {
	 50% {
		 color: #5e5e5e;
		 text-shadow: 0 0 15px #777;
	}
}
 @keyframes pulse {
	 50% {
		 color: #5e5e5e;
		 text-shadow: 0 0 15px #777;
	}
}
 .starRating label {
	 height: 40px;
	 width: 15%;
	 position: relative;
   cursor: pointer;
}
 .starRatinglabel:nth-of-type(5):after {
	 -webkit-animation-delay: 0.25s;
	 animation-delay: 0.25s;
}
 .starRating label:nth-of-type(4):after {
	 -webkit-animation-delay: 0.2s;
	 animation-delay: 0.2s;
}
 .starRating label:nth-of-type(3):after {
	 -webkit-animation-delay: 0.15s;
	 animation-delay: 0.15s;
}
 .starRating label:nth-of-type(2):after {
	 -webkit-animation-delay: 0.1s;
	 animation-delay: 0.1s;
}
 .starRating label:nth-of-type(1):after {
	 -webkit-animation-delay: 0.05s;
	 animation-delay: 0.05s;
}
 .starRating label:after {
	 -webkit-transition: all 0.4s ease-out;
	 transition: all 0.4s ease-out;
	 position: absolute;
	 content: "☆";
	 color: #444;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 text-align: center;
	 font-size: 40px;
	 -webkit-animation: 1s pulse ease;
	 animation: 1s pulse ease;
}
 .starRating label:hover:after {
	 color: #5e5e5e;
	 text-shadow: 0 0 15px #5e5e5e;
}
 .starRating input {
	 display: none;
}
/* " +" This will only work on IE7 or above. In IE6, the style will not be applied to any elements so used "~ " this meaning select any element after the input radio button show http://jsfiddle.net/7c05m7tv/ https://css-tricks.com/almanac/selectors/a/adjacent-sibling/ http://jsfiddle.net/7c05m7tv/70/ */
 .starRating input:checked + label:after, .starRating input:checked ~ label:after {
	 content: "★";
	 color: #f9bf3b;
	 text-shadow: 0 0 20px #f9bf3b;
}

 
.avatars {
  text-align: left;
  margin-left: -20px;
  display: flex;
  margin-top: 23px;
}

.avatars img:hover {
  opacity: 0.6;
}

.imagen{
  width: 60px;
    border-radius:160px;
    border:2px solid gold;
}

.separacion {
  width: 10px;
}