
.prueba {
	width: 100%;
	height: 100%;
	background-color: red;
}

.col-12 {
	margin-bottom: 2%;
}

/* ------------- */
/* SLIDER LIBROS */
/* ------------- */


#slider {
	margin: 0 auto;
	width: 200px;
	/* max-width: 100%; */
	text-align: center;
}

#slider input[type=radio] {
	display: none;
}

#slider label {
	cursor: pointer;
	text-decoration: none;
}

#slides {
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 8px;
	background: #fff;
	position: relative;
	z-index: 1;
	width: 225px;
}

#overflow {
	width: 100%;
	overflow: hidden;
}

#slide1:checked ~ #slides .inner {
	margin-left: 0;
}
#slide2:checked ~ #slides .inner {
	margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
	margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
	margin-left: -300%;
}

#slide5:checked ~ #slides .inner {
	margin-left: -400%;
}

#slides .inner {
	/* -webkit-transform: translateZ(0); */
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides .inner {
	width: 100%;
	line-height: 0;
	height: 200px;
}

#slides .slide {
	width: 20%;
	float: left;
	display: block;
	height: 100%;
	color: #FFFFFF;
}
#slides .slide_1 {
	background-color: #d9534f;
}
#slides .slide_2 {
	background-color: #5cb85c;
}
#slides .slide_3 {
	background-color: #5bc0de;
}
#slides .slide_4 {
	background-color: #f0ad4e;
}
#slides .slide_5 {
	background-color: #0275d8;
}

#controls {
	margin: -130px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	position: relative;
}

#controls label {
	transition: opacity 0.2s ease-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.4;
}
#controls label:hover {
	opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url(http://www.withoutjs.com/assets/images/slider/next.png) no-repeat;
	float: right;
	margin: 0 -50px 0 0;
	display: block;
}

#slide1:checked ~ #controls label:nth-child(5), 
#slide2:checked ~ #controls label:nth-child(1), 
#slide3:checked ~ #controls label:nth-child(2), 
#slide4:checked ~ #controls label:nth-child(3), 
#slide5:checked ~ #controls label:nth-child(4) {
	background: url(http://www.withoutjs.com/assets/images/slider/prev.png) no-repeat;
	float: left;
	margin: 0 0 0 -50px;
	display: block;
}

#bullets {
	margin: 100px 0 0;
	text-align: center;
}

#bullets label {
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#slide1:checked ~ #bullets label:nth-child(1), 
#slide2:checked ~ #bullets label:nth-child(2), 
#slide3:checked ~ #bullets label:nth-child(3), 
#slide4:checked ~ #bullets label:nth-child(4),
#slide5:checked ~ #bullets label:nth-child(5) {
	background: #333;
}
/* responsive behaviour of controls */
@media screen and (max-width: 900px) {
	#slide1:checked ~ #controls label:nth-child(5), 
	#slide2:checked ~ #controls label:nth-child(1), 
	#slide3:checked ~ #controls label:nth-child(2), 
	#slide4:checked ~ #controls label:nth-child(3), 
	#slide5:checked ~ #controls label:nth-child(4) {
		margin: 0;
	}

	#slide1:checked ~ #controls label:nth-child(2), 
	#slide2:checked ~ #controls label:nth-child(3), 
	#slide3:checked ~ #controls label:nth-child(4), 
	#slide4:checked ~ #controls label:nth-child(5), 
	#slide5:checked ~ #controls label:nth-child(1) {
		margin: 0;
	}
}
/* end of responsive behaviour of controls */
														

/* ----------------- */
/* FIN SLIDER LIBROS */
/* ----------------- */

/* ----------------- */
/* PELICULAS TARJETA */
/* ----------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

a {
	text-decoration: none;
}

.movie-card {
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	font-size: 14px;
	color: #cfd6e1;
	line-height: 1.5;
	font-weight: 400;
	overflow-x: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	width:100%;
	/* max-width: 800px; */
	height: 300px;
	display: block;
	margin: 0 0 2% 0;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.color-overlay {
	width:100%;
	height: 100%;
	border-radius: 8px;
	background: linear-gradient(to right, rgba(42,159,255,.2) 0%,rgba(33,33,32,1) 60%,rgba(33,33,32,1) 100%);
	background-blend-mode: multiply;
}

h1,h2,h3 {
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
	font-weight: 400;
}

.movie-content {
	width: 40%;
	display: block;
	position:relative;
	float: right;
	padding-right: 1em;
}
	.movie-content .movie-title {
		color: #ffffff;
		margin-bottom: .25em;
		margin-top: .25em;
		opacity: .75;
	}
	
	.movie-content .movie-info {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: .8em;
		color: #2a9fff;
		line-height: 1;
		margin: 0;
		font-weight: 700;
		opacity:.5;
	}
	
	.movie-content .movie-header {
		margin-bottom: 2em;
	}
	.movie-content .movie-desc {
		font-weight: 300;
	opacity: .84;
	margin-bottom: 2em;
	}


.btn {
	padding: .8em 2em;
	background-color: rgba(255,255,255,.2);
	color: rgba(255,255,255,1);
}

.btn-outline {
	background-color: transparent;
	border: 3px solid #ffffff;
}

.btn::before {
	font-family: 'Material Icons';
	content:'\e037';
	vertical-align: middle;
	font-size: 1.5em;
	padding-right:.5em;
}

.btn-outline:hover {
	border-color: #2a9fff;
	color: #2a9fff;
	box-shadow: 0px 1px 8px 0px rgba(245,199,0,.2);
}

.movie-share {
	padding: 1em;
	display: inline-block;
	width: 15%;
}

.movie-share__icon i {
	font-size: 1.2em;
	margin-left: .5em;
	color: #ffffff;
	mix-blend-mode: lighten;
	opacity: .4;
}

.movie-share__icon i:hover {
	opacity:1;
	mix-blend-mode: lighten;
}

@media (max-width:1000px) {
	.movie-content {
		width: 50%;
		max-width: 95%;
	}
}

@media (max-width:800px) {
	.movie-card {
		width: 95%;
		max-width: 95%;
	}
}

@media (max-width:600px) {
	.movie-card,.movie-card:nth-child(2),.movie-card:nth-child(3) {
		background-position:50% 0%;
		background-size: cover;
		height: 400px;
	}
	
	.color-overlay {
		background: linear-gradient(to bottom, rgba(42,159,255,.2) 0%,rgba(33,33,32,1) 60%,rgba(33,33,32,1) 100%);
	}
	
	.movie-content {
		margin-top: 4.2em;
		width: 90%
	}
	
	.movie-share {
		display: block;
		width: 100%;
	}
}

/* ----------------- */
/* PELICULAS TARJETA */
/* ----------------- */

/* ---------------- */
/* SLIDER PELICULAS */
/* ---------------- */

.banner {
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 0;
	font-family: "Helvetica", sans-serif;
  }
  
  
  
  .slider-container{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden; 
	text-align: center;
  }
  
  .menu {
	position: absolute;
	left: 0;
	z-index: 900;
	width: 100%;
	top: 270px;
  }
  
  .menu label {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 50px;
	margin: 0 0.2em 1em;
}
	.menu label:hover {
	  background: red;
	}
  
  .slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 0px;
	background-size: cover;
	background-position: 50% 50%;
	transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
  }

/* ---------------- */
/* SLIDER PELICULAS */
/* ---------------- */


/* ------------- */
/* SLIDER LIBROS */
/* ------------- */


  #slider{
	width:100%;
	border:4px solid #fff;;
	outline:1px solid #999;
	height:313px;
	/* margin:-315px auto; */
	background:-webkit-radial-gradient(#ffefce, #fcd78d);
	background:-moz-radial-gradient(#ffefce, #fcd78d);
	background:-ms-radial-gradient(#ffefce, #fcd78d);
	background:-o-radial-gradient(#ffefce, #fcd78d);
	background:radial-gradient(#ffefce, #fcd78d);
  }
  #allpic{
	width:100px;
	height:300px;
	background:#ccc;
	margin:5px 0 0 5px;
	float:left;
	transition:all .5s ease-out;
	overflow:hidden;
	border:2px solid #fff;;
	outline:1px solid #999;
  }
  #allpic:hover {
	width:300px;
  }
  /* #shadow{
	width:600px;
	height:30px;
	margin:330px auto 0;
	border-radius:50%;
	box-shadow:0px 12px 10px 3px rgba(0,0,0, 0.5);
  } */

/* ----------- */
/* LIBROS CARD */
/* ----------- */

.title {
    font-weight: bold;
    font-size: 2em;
  }
  
  .subtitle {
    font-size: 1.5em;
  }
  
  .description {
    margin-top: 24px;
    font-size: 1.2em;
  }


.book-card {
  width: 280px;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}
  .book-card__cover {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
  }
  
  .book-card__book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
  }

  .book-card__book-front {
    position: absolute;
    height: 100%;
  }
   
   .book-card__book-back {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      transform: translateZ(-40px);
   }

  .book-card__book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
  }
   
  .book-card__img {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
  }

  .book-card__title {
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  .book-card__author {
    color: #757575;
    font-size: 1em;
  }

  
  
	.book-card:hover .book-card__book{
      transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
    }
    
	.book-card:hover .book-card__book-back {
      box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
    }
    
	.book-card:hover .book-card__book-side {
      opacity: 1;
    }
  


/* ----------- */
/* LIBROS CARD */
/* ----------- */



/* ------------- */
/* SLIDER LIBROS */
/* ------------- */


/* ------------- */
/* SLIDER AUTOMATICO */
/* ------------- */




nav{
	border-bottom: 1px solid #ff3737;
	display:flex;
	justify-content: space-between;
}
.logo{
	display: table;
	background: #ff3737;
}
nav>ul{
	display: inline-flex;
	position: relative;
}
nav>ul>li{
	transition: all 200ms;
	-webkit-transition: all 200ms;
	cursor: pointer;
	display: table;
}
nav>ul>li:hover{
	background: #ff3737;
}
nav>ul>li> .genres{
	overflow:auto;
	height: 500px;
}
nav>ul>li>ul{
	
	display: none;
	position: absolute;
}
nav>ul>li:hover>ul,form{
	background: #000;
	display: block;
	position: absolute;
}
nav>ul>li>ul a:hover{
	background: #ff3737;
}
.search{
	position: relative;
}
form{
	
	border-top: 1px solid #ff3737;
	position: absolute;
	padding:10px 15px;
	display: flex;
	right: -100px;
}
form #submit{
	display: none;
}
.border{
	border-top: 1px solid #ff3737;
}

.slider{
	margin: 10px auto;
	width: 95%;
}
.popular-movies{
	overflow: hidden;
}

.movie-container{
	display: flex;
	justify-content: space-between;
	width: 1200px;
}
.movie-container:hover .image-effect{
	animation-play-state: paused;
}
.image-effect{
	animation: movie-slider 10s  infinite alternate linear;
	overflow: hidden;
}
@keyframes movie-slider{
	0%{margin-left: 0%;}
	100%{margin-left: -100%;}
	0%{margin-right: -100%;}
	100%{margin-right: 10%;}
}
.image-effect img{
	transition: all 300ms;
	-webkit-transition: all 300ms;
}
.image-effect:hover img{
	opacity: .5;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.movie-image{
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 200px;
}
.movie-info{
	cursor: pointer;
	bottom: 0;
	display: none;
	height: 300px;
	justify-content: center;
	position: absolute;
	transition: all .5s;
	-webkit-transition: all .5s;
	width: 200px;
}
.movie-title{
	background: rgba(255,55,55,.8);
	border-radius: 3px;
	margin:10px;
	text-align: center;
	color: #fff;
}
.movie-title:hover{
	background: #ff4848;
}
.movie-sinopsis{
	margin: auto;
	text-align: justify;
	width: 95%;
}
.links{
	display: flex;
	justify-content:space-around;
}
.watch,.down{
	background: rgba(0, 128, 0, 0.8);
	border-radius: 3px;
	margin: 10px;
	padding: 8px;
}
.watch:hover{
	background: #22e322;
}
.down:hover{
	background: #22e322;
}
.movie-image:hover .movie-info{
	display: block;
}









