.App {
  text-align: center;
}

.promociones p {
  padding: 0 0 0.1% 2%;
  margin: 0;
  font: normal 20px/24px ECI;
  color: #da1e1e;
  font-weight: 600;
}

.promociones hr {
  width: 96%;
  margin: 0 2% 1% 2% ;
  height: 2.5px;
  background-color: red;
}

body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.nav-bar-blocks {
  background-color: #fff;
}

div {
  display: block;
}

@media only screen and (min-width: 48.0625em) {
.nav-bar-container._main {
    padding-bottom: 5px;
}
}

.nav-bar-container._main {
  background: #f5f5f5;
  transition: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  color: #3e3e3e;
  position: relative;
  height: 100%;
}

@media only screen and (min-width: 26.625em) {
.vp {
    padding: 0 1em;
}
}
.vp {
    position: relative;
    margin: 10;
    /* padding: 0 .5em; */
    max-width: 90em;
}

